.nav_list a {
    color: var(--main-color);
}

.article {
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-align: center;
}

.article h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.article_body {
    display: flex;
    background: var(--main-color);
    padding: 1rem;
    gap: 1rem;
}

.text_article {
    color: var(--white-color);
    font-size: 1.2rem;
    text-align: start;
}

.img_article {
    /* float: right; */
    /* max-width: 300px; */
}

.img_article img {
    /* width: 100%;
    object-fit: cover; */
}