@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: .9rem;
    scroll-behavior: smooth;
}


:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: #rgba(0, 0, 0, .2)
}

body {
    background: var(--bg-color);
    color: var(--text-color);

}

ul {
    list-style: none;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    display: inline-block;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
    background: var(--bg-color);

}

.unscroll {
    overflow: hidden;

}



/* ================HEADER================ */

header {
    width: 100%;
    min-height: 4rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
    /* background: red; */

}

header.bcg_color_header {
    background: var(--bg-color);
    box-shadow: var(--shadow-color);
    transition: .5s ease;
}

header.bcg_color_header .nav_list a {
    color: var(--main-color);
}

.header_conteiner {
    min-height: 4rem;
    width: inherit;
    display: grid;
    grid-template-columns: 53% 40% 10%;
    align-items: center;


}

.logo {
    width: 100%;
    justify-self: start;
}

.logo h1 {
    font-size: 1.5rem;
    color: var(--text-color);
}

.nav {
    width: 100%;
}

.nav_list {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.nav_list li a {
    color: var(--white-color);
}

.dark_mode {
    color: var(--white-color);
}

.nav_mobile {
    display: none;
}

.dark_mode i {
    font-size: 2rem;
}

/* ==========HEADER MOBILE========== */

@media (max-width:550px) {
    .dark_mode {
        color: var(--main-color);
    }

    /* .nav_mobile {
        transform: translateX(33%);
    } */

    .nav_list_mobile.active {
        padding-left: 2rem;
        left: -40%;
    }
}

@media (max-width:950px) {

    .header_conteiner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

    .logo {
        width: 30%;
    }

    .nav_list {
        display: none;
    }

    .nav_mobile {
        display: block;
        width: 100%;
        position: relative;
    }

    .nav_mobile i {
        font-size: 3rem;
        color: var(--main-color);
        cursor: pointer;
    }

    .nav_list_mobile {
        position: absolute;
        padding: .5rem;
        top: 48px;
        transform: translateY(200%);
        transition: .5s ease;
        z-index: 5;
        height: 100vh;
        left: -30%;
        width: 320px;
    }

    .nav_list_mobile.active {
        display: block;
        transform: translateY(0);
        background: var(--main-color);
        min-height: 100%;
        min-width: 100vw;
    }



    .nav_list_mobile a {
        font-size: 2rem;
        color: var(--white-color);
        transition: .3s ease;
    }

    .nav_list_mobile.active li {
        margin-bottom: 2rem;
    }

    .nav_list_mobile li:hover a {
        color: var(--shadow-color);
    }
}

/* ================MAIN================ */
span {
    color: var(--main-color);
}

.text_block {
    display: flex;
    flex-direction: column;
}

.text_block h1 {
    font-size: 3rem;
    color: var(--main-color);
}

.text_block h2 {
    font-size: 2rem;
}

.text_block h2 span {
    font-size: 2rem;
}

.text_block span {
    font-size: 1.6rem;
}

.text_block p {
    font-size: 1.6rem;
}

.btn {
    margin: 1rem 0;
    width: 8rem;
    background: var(--main-color);
    color: var(--white-color);
    text-align: center;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid transparent;
    transition: .5s ease;
    box-shadow: var(--shadow-color);
    cursor: pointer;
}

.social_block ul {
    /* width: 8rem; */
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.social_block li {
    /* margin: .1rem; */
    margin-right: .5rem;
    transition: .3s ease;
    background: var(--main-color);
    border-radius: 50%;
}

.social_block a {
    margin: .1rem;
}

.social_block .bx {
    font-size: 1.5rem;
    padding: 0.5rem;
    color: var(--white-color);
}

.social_block li:hover {
    transform: scale(1.2);
    background: transparent
}

.social_block li:hover .bx {
    color: var(--main-color);
}

.btn a {
    color: var(--white-color);
}

.btn:hover {
    color: var(--main-color);
    background: transparent;
    border: 1px solid var(--main-color);
}

.btn:hover a {
    color: var(--main-color);
}

.main_conteiner {
    margin-top: -3rem;
    margin-bottom: 8rem;
    padding: 0 .5rem;
    width: 99%;
    display: flex;
}

.hello_msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 2rem;
}

.main_card_conteiner {
    width: 50%;
    height: auto;
}

.main_card {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box_rotate {
    background: var(--main-color);
    border-top: 21.5rem solid transparent;
    border-left: 26rem solid var(--bg-color);
    border-bottom: 21.5rem solid transparent;
    width: 100%;
    height: 100%;
    position: relative;
    width: 30.99rem;
    height: 0;
}

.rotate_words {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 60%;
    top: -214px;


}

.words {
    position: relative;
    width: 429px;
    height: 429px;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-color);
    animation: mainRotate 10s infinite ease-out;
}

.word {
    position: absolute;
    width: max-content;

}

.word h2 {
    font-size: 1.3rem;
}

.word:nth-child(1) {
    top: 0;
    transform: rotate(90deg);
}

.word:nth-child(2) {
    right: -13%;
    transform: rotate(180deg);

}

.word:nth-child(3) {
    bottom: 0;
    transform: rotate(-90deg);
}

.word:nth-child(4) {
    left: -13%;
}

@keyframes mainRotate {
    0% {
        transform: rotate(0deg);
        transition-delay: 3s;
    }

    25% {
        transform: rotate(-90deg);
        transition-delay: 3s;
    }

    50% {
        transform: rotate(-180deg);
        transition-delay: 3s;
    }

    75% {
        transform: rotate(-270deg);
        transition-delay: 3s;
    }

    100% {
        transform: rotate(-360deg);
        transition-delay: 3s;
    }


}

.triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    /* background: greenyellow; */
}

.photo_main {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: #333; */
}

.img_main {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 400px;
    /* background: var(--main-color); */

    /* overflow: hidden; */
}

.img_main img {

    width: 100%;
    height: 100%;
    object-fit: contain;

}





@media (max-width:550px) {
    .main_conteiner {
        flex-wrap: wrap;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .hello_msg {
        width: 100%;
    }

    .main_card_conteiner {
        width: 90%;
    }

    .main_card {
        left: 13px;
    }

    .words {

        width: 200px;
        height: 200px;

    }

    .rotate_words {
        top: 0;
    }

    .box_rotate {
        transform: rotate(90deg);
        border-top: 200px solid transparent;
        border-left: 210px solid var(--bg-color);
        border-bottom: 200px solid transparent;
        width: 106px;

    }

    .words {
        width: 250px;
        height: 250px;
        top: -125px;
        right: 125px;
    }

    .word:nth-child(1) {
        top: -25px;
        transform: rotate(0deg);

    }

    .word:nth-child(2) {
        right: -93px;
        transform: rotate(90deg);

    }

    .word:nth-child(3) {
        bottom: -27px;
        transform: rotate(180deg);
    }

    .word:nth-child(4) {
        left: -103px;
        transform: rotate(-90deg);
    }
}



@media (max-width:950px) {
    .hello_msg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text_block {
        text-align: center;
    }

    .text_block h1 {
        font-size: 2rem;

    }

    /* .text_block h1 span {
        font-size: 2rem;
    } */

    .text_block h2 {
        font-size: 1.3rem;
    }

    .text_block h2 span {
        font-size: 1.3rem;
    }

    .text_block span {
        font-size: 1.3rem;
    }

    .text_block p {
        font-size: 1.3rem;
    }

    .img_main img {
        display: none;

    }
}


/* =========ABOUT========= */

.about_content {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 44% 56%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.about_text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.about_heding {
    display: flex;
    flex-direction: column;
    text-align: center;
}



.about_heding h2 {
    font-size: 2rem;
}

.about_heding span {
    font-size: 2rem;
}

.about_text p {
    font-size: 1.6rem;
    margin-bottom: .5rem;
}

.text p span {
    font-size: 1.6rem;
}

.img_box {
    width: 100%;
    min-height: 451px;
    position: relative;
    /* background: red; */
}

.img_cart {
    /* background: greenyellow; */
    z-index: 8;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    width: 33%;
    height: 0rem;
    border-left: 9rem solid transparent;
    border-right: 9rem solid transparent;
    border-top: 22rem solid var(--main-color);
}


.img_about {
    z-index: -5;
    display: block;
    position: absolute;
    bottom: 0rem;
    right: -1.5rem;
    object-fit: contain;
    width: 100%;
}

.about_heding h2 {
    font-size: 2rem;
}

.about_heding h3 {
    font-size: 1.6rem;
}

@media (max-width:950px) {

    .about_content {
        display: flex;
        flex-direction: column;
    }

    .img_cart {
        position: relative;
        width: 15rem;
        height: 0rem;
        border-left: 5rem solid transparent;
        border-right: 5rem solid transparent;
        border-top: 24rem solid var(--main-color);
    }


    .img_about {
        z-index: 5;
        display: block;
        position: absolute;
        bottom: 0rem;
        right: 0rem;
        object-fit: contain;
        width: 100%;
    }

    .about_text {
        padding: 0 1rem;
    }

    .about_heding {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width:550px) {

    .about_content {
        width: 100%;
        padding: 0 .3rem;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .img_cart {
        position: relative;
        width: 12rem;
        height: 0rem;
        border-left: 5rem solid transparent;
        border-right: 5rem solid transparent;
        border-top: 24rem solid var(--main-color);
    }

    .img_box {
        width: 75%;
    }


    .img_about {
        z-index: 5;
        display: block;
        position: absolute;
        bottom: 0rem;
        right: 0rem;
        object-fit: contain;
        width: 100%;
    }

    .about_text {
        text-align: center;
    }

    .about_text h2 {
        font-size: 2rem;
    }

    .about_text h2 span {
        font-size: 2rem;
    }

    .about_text h3 {
        font-size: 1.6rem;
    }

    .about_text span {
        font-size: 1.3rem;
    }

    .about_text p {
        font-size: 1.3rem;
    }
}


/* =============SERVICE============= */

.service {
    display: flex;
    flex-direction: column;
}



.service_heading h2 {
    display: inline-block;
    font-size: 3rem;
}

.service_heading span {
    font-size: 3rem;
}

.service_box_content {
    display: grid;
    width: 80%;
    gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
}

.box-4 {
    grid-column: 1/4;
}

.service_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    padding: 1rem;
    border-top: .5rem solid var(--main-color);
    border-bottom: .5rem solid var(--main-color);
    border-radius: 2rem;
    gap: 1rem;
    overflow: hidden;
    width: 100%;
}

.service_box h3 {
    font-size: 1.7rem;
    text-align: center;
}

.service_box p {
    font-size: 1.2rem;
    max-width: 80%;
    text-align: center;
    transition: .8s ease;
}

.service_box p span {
    font-size: 1.2rem;
    /* max-width: 60%;
    text-align: center;
    transition: .8s ease; */
}

.service_box i {
    font-size: 4rem;
    color: var(--main-color);
    transition: .8s ease;
}

.service_box:hover i {
    color: var(--white-color);
    background: #754ef9;
    border-radius: 50%;
}

.service_box:hover p {
    transform: scale(1.05);
}

@media (max-width:1025px) {
    .service_box_content {
        display: flex;
        flex-direction: column;
    }


}

/* ==============PORTFOLIO============== */

.portfolio {
    margin-top: 8rem;
    width: 100%;
    background: url(../img/bg-texture.png);
    /* text-align: center; */
}

.portfolio_conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;

}

.heading_block_potrfolio {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    color: var(--text-color);
}

.heading_block_potrfolio span {
    font-size: 2rem;
}

.portfolio_item {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1.5rem;

}

.heading_item {
    font-size: 1.3rem;
    width: 310px;
    text-align: center;

}

.portfolio_box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 24.8rem;
    border-radius: 2rem;
}

.portfolio_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    transition: .5s ease;
    filter: brightness(.8);
}

.portfolio_layer {
    position: absolute;
    padding: .5rem;
    width: 98%;
    height: 24.8rem;
    z-index: 5;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    opacity: 0;
    transition: .5s ease;
}

.portfolio_box:hover img {
    transform: scale(1.2);

}

.portfolio_box:hover .portfolio_layer {
    opacity: 1;
}



.portfolio_box h2 {
    color: var(--white-color);
    font-size: 1.3rem;
    text-align: center;

}

.portfolio_box i {
    font-size: 2rem;
    background: var(--bg-color);
    padding: 6px;
    border-radius: 50%;
    color: var(--text-color);
    transition: .5s ease;
}

.portfolio_box i:hover {
    color: var(--main-color);
    transform: scale(1.01);
}

.portfolio_box p {
    font-size: 1.2rem;
    max-width: 25rem;
    color: var(--white-color);
}

@media (max-width:950px) {
    .portfolio_conteiner {
        display: flex;
        flex-direction: column;
    }

    .portfolio_layer h2 {
        font-size: 1rem;
    }

    .portfolio_layer p {
        font-size: .2rem;
        width: 90%;
        text-align: center;
    }
}

/* ===========TESTIMONIAL=========== */

.testimonial {
    text-align: center;
    margin: 1.5rem 0;
}

.testimonial h2 {
    font-size: 2rem;
}

.testimonial span {
    font-size: 2rem;
}

.item_slide {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    border-top: .5rem solid var(--main-color);
    border-bottom: .5rem solid var(--main-color);
    border-radius: 2rem;
    max-width: 80%;
    padding: 1rem;
}

.item_slide img {
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .5rem solid var(--main-color);
    margin-bottom: .5rem;
}

.name {
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

.item_slide p {
    text-align: center;
}

.swiper-pagination .swiper-pagination-bullets .swiper-pagination-horizontal {
    margin-top: 4rem;
}

.swiper-pagination-bullet-active {
    background: var(--main-color);
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--main-color);
    width: 10%;
}

/* ==============FORM============== */

.contact {
    margin-top: 6rem;
    width: 100%;
    text-align: center;
}

.contact h2 {
    font-size: 2rem;
    color: var(--text-color);
}

.contact span {
    font-size: 2rem;
    color: var(--main-color);
}


form {
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: .5rem solid var(--main-color); */
    border-top: 0.5rem solid var(--main-color);
    border-bottom: 0.5rem solid var(--main-color);
    border-radius: 2rem;
    gap: .5rem;
    width: 80%;
}

.form_input {
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
}

.input {
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.6rem;
    border-top: 0.2rem solid var(--main-color);
    border-bottom: 0.2rem solid var(--main-color);
    border-radius: 1rem;
    outline: none;
    background: var(--bg-color);
    opacity: .7;
    width: 80%;
    transition: .5s ease;
}

label {
    padding-left: 1rem;
    color: var(--main-color);
    transform: translateY(4rem);
    transform-origin: left top;
    cursor: text;
    opacity: 0.7;
}

.input:focus,
.input:not(:placeholder-shown) {
    border-top: none;
    border-bottom: none;
    border-left: 0.2rem solid var(--main-color);
    border-right: 0.2rem solid var(--main-color);
    border-radius: 1rem;
    transition: .5s ease;

}


.input:focus~label,
.input:not(:placeholder-shown)~label {
    padding: 0;
    color: var(--main-color);
    transform: translateY(2rem) scale(0.8);
    transition: .5s ease;
}

textarea {
    resize: none;
}

.button_submit {
    width: fit-content;

}

.button_submit p {
    font-size: 1.5rem;
    padding: 0.8rem;
}

.checkbox_ {
    font-size: 1rem;
}

/* ==========FOOTER========== */
.footer {
    display: flex;
    background: var(--main-color);
    min-height: 3.75rem;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;

}

.adress {
    display: flex;
    flex-direction: column;
    color: var(--white-color);
}

/* .footer_nav.social_block li {
    color: red;
} */

.footer_nav_list a {
    color: var(--white-color);
    font-size: 1.5rem;

}

.footer_nav_list a:hover {
    text-decoration: underline;
}

.footer_nav_list li {
    margin-bottom: .5rem;
    letter-spacing: .1rem;
}


.footer_nav_list {
    width: max-content;
}

.footer_social_list a {
    color: var(--white-color);
}

.footer_social_list li {
    margin-bottom: .5rem;
}

.footer_social_list i {
    font-size: 3rem;
}

@media (max-width:500px) {
    .footer {
        display: flex;
        flex-direction: column-reverse;
        padding: 16px;
    }

    .footer_nav_list a {
        color: var(--white-color);
        font-size: 1.2rem;
        margin-bottom: 14px;
        margin-top: 14px;
    }

    .footer_social_list {
        display: flex;
        gap: 6px;
        justify-content: space-between;
        width: 290px;
        margin-bottom: 14px;
    }
}