@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #eff0f4;
    --text-color: #333;
    --main-color: #754ef9;
    --blue-color: #0718C4;
    --white-color: #fdfdfd;
    --shadow-color: #rgba(0, 0, 0, .2);
    --yelow-color: #feb200;
}

body {
    background: var(--bg-color);
    color: var(--text-color);

}

ul {
    list-style: none;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    display: inline-block;
    margin: 0;

}

.wrapper {
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
    background: var(--bg-color);

}

.swiper {
    width: 100%;
    min-height: 60vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--main-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    /* stroke: var(--swiper-theme-color); */
    stroke: var(--main-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

* {
    font-size: .8rem;

}

.wrapper {

    min-height: 100vh;
}

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--bg-color);
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--white-color);
    border-radius: 16px 16px 0 0;
    z-index: 10;

}

.list {
    position: relative;
    display: flex;
    height: 60px;
    align-items: center;
    z-index: 2;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.link ion-icon {
    font-size: 16px;
    color: var(--main-color);
}

.main_link {
    transform: translateY(-16px);

}

.main_nav_text {
    transform: translateY(-8px);
    font-size: 18px;
}

.indicator {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    background: var(--bg-color);
    position: absolute;
    top: -47%;
    left: 50%;
    transform: translateX(-34px);
    z-index: -10;
}

.header {
    background: var(--main-color);
    height: 60px;
    width: 99vw;
    display: flex;
    align-items: center;
    color: var(--white-color);
    flex: 1 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.header_top {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header_text {
    /* height: 100%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: 1.2px;
    line-height: 1.5;
}

.btn_call {
    border: 4px solid var(--white-color);
    padding: 8px;
    border-radius: 20px;
}

.btn_link {
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-size: 16px;
}

.btn_call:hover .btn_link {
    color: var(--main-color);

}

.btn_call:hover {

    background: var(--bg-color);

}

/* .btn_link {
    position: relative;
    padding: 10px 25px;
    text-decoration: none;
    color: #fff;
    border-radius: 16px;
    font-weight: 500;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    opacity: .75;
    transition: 0.5s;
    background: #be01fe;
    background: #01b4ff;
}

.btn_link ion-icon {
    color: #333;
} */



/* .btn_link::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 65px;
    height: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .5);
} */

.main {
    margin-top: 14px;
    min-height: calc(100vh - 60px);
    background-image: url(/img/lending/fon_for_lending.jpg);
    background-position: right;
}

.main_conteiner {
    padding-bottom: 30px;
    min-height: calc(100vh - 60px);
    background-color: rgba(255, 255, 255, 0.8);
}

.offer_item {
    margin-top: 60px;
    padding: 20px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 95%;
    border-radius: 15px;
    background: var(--bg-color);
}

.offer_item h1 {
    font-size: 1.5rem;
    text-align: center;
}

.offer_item h1 span {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 800;
    color: var(--main-color);
}

.offer_item_header {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.offer_item_header ion-icon {
    font-size: 4rem;
    color: var(--main-color)
}

.offer_item_header p {
    font-size: 1.3rem;
}

.offer_item_header p span {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--main-color);
}

.offer_text {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.offer_icon {
    color: var(--main-color);
}

.offer_icon ion-icon {
    font-size: 42px;
}

.offer_text p {
    font-size: 24px;
}

.btn_main {
    border: 3px solid var(--main-color);
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 16px;
    box-shadow: 0px 0px 5px 1px var(--main-color);
}

.btn_main p {
    font-size: 18px;
    color: var(--white-color);
}

.btn_main:hover {
    background-color: var(--bg-color);
}

.btn_main:hover p {
    color: var(--blue-color);

}

.advantages {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.advantages_header h2 {
    font-size: 16px;
    text-align: center;
}

.advantages_item {
    margin-top: 14px;
    /* display: flex;
    align-items: center; */
    text-align: center;
    width: 90%;
    gap: .5rem;
}

.advantages_item_img {
    background: var(--bg-color);
    width: 100px;
    height: auto;
}

.advantages_item_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.advantages_item_text p {
    font-size: 1.2rem;
}

.advantages_item_text p span {
    font-size: 1.2rem;
    font-weight: 600;
}

.quiz_block {
    background: var(--main-color);
    border-radius: 30px 30px 0 0;
    margin-top: -20px;
    padding-bottom: 60px;
}

.personal_photo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    padding: 0 0 0 16px;

}

.personal_photo h3 {
    display: block;
    color: var(--white-color);
    letter-spacing: 1.3px;
    line-height: 2;
    font-size: 1rem;
    grid-column: 1/4;
    grid-row: 2/4;
}

.personal_photo p {
    display: block;
    color: var(--white-color);
    letter-spacing: 1.3px;
    line-height: 2;
    font-size: 1rem;
    margin-right: 16px;
    grid-column: 1/4;
    grid-row: 3/6;
}

.personal_photo img {
    grid-column: 2/6;
    grid-row: 1/7;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.quiz_box {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-color);
    border-radius: 16px 16px 0 0;
    background: var(--bg-color);
    box-shadow: 0px 1px 5px 2px var(--text-color)
}

.quiz_header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    border-radius: 16px;
    padding-bottom: 16px;
}

.quiz_header h2 {
    width: 90%;
    text-align: center;
    font-size: 1.5rem;
    color: var(--main-color);
}

form {
    width: 100%;
}

.quiz {
    display: flex;
    flex-direction: column;
    min-height: 320px;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    background-color: var(--bg-color);
}

.error {
    outline: 3px solid red;
    border-radius: 50%;
}

.question {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 80%;

}

.question h3 {
    text-align: center;
    font-size: 1.5rem;
}

.first_action label {
    display: flex;
    align-items: center;
    margin: 0 0 16px;
}

.first_action h3 {
    margin: 16px 0;
    font-size: 1.5rem;
    text-align: center;
}

.first_action p {
    font-size: 1.3rem;
    margin-left: 1rem;

}

.checkbox_box {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-top: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    border-radius: 20px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.checkbox_box label {
    margin: 10px .1px;
    display: flex;
    align-items: center;
}

.text_input {
    width: 100%;
    font-size: 0.8rem;
    padding: 6px;
    outline: 2px solid var(--main-color);
    border-radius: 8px;
}

.check_input {
    width: 30px;
    height: 30px;
    color: var(--main-color);
}

.checkbox_box label p {
    margin-left: 10px;
    font-size: 1rem;
}

.btn_group {
    display: flex;
    width: 90%;
    justify-content: space-between;
}


.btn {
    background: var(--main-color);
    color: var(--white-color);
    text-align: center;
    padding: 1rem;
    border-radius: 16px;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

.btn:hover {
    letter-spacing: 2px;
    background: var(--white-color);
    color: var(--main-color);
}

/* -----------------InfoDolg----------------- */
.infoDolg {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #eff0f4;
    margin-top: -40px;
    border-radius: 30px 30px 0 0;
}

.infoDolg_header {
    font-size: 1.5rem;
    text-align: center;
    color: var(--main-color);
    line-height: 1.2px;
    letter-spacing: 1.3px;
}

.section_conteiner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 50px;
    padding: 60px 10px;
}

.section_conteiner .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: .5s;
}

.section_conteiner .card:hover {
    height: 400px;
}

.section_conteiner .card .imgBx {
    position: absolute;
    top: 20px;
    width: 250px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: .5s;
}

.section_conteiner .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section_conteiner .card:hover .imgBx {
    top: -100px;
    transform: scale(.75);
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.section_conteiner .card .content {
    position: absolute;
    top: 256px;
    width: 100%;
    padding: 0 30px;
    height: 25px;
    overflow: hidden;
    text-align: center;
    transition: .5s;
}

.section_conteiner .card:hover .content {
    top: 130px;
    height: 250px;
}

.section_conteiner .card .content h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--clr);
}

.section_conteiner .card .content p {
    color: #333;
}

.section_conteiner .card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: var(--clr);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}

/* 
--------------------bambleStyle------------
.conteiner_info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 60px;
    padding: 50px 0;
}

.conteiner_info h2 {
    font-size: 1.5rem;
    color: #754ef9;
    letter-spacing: 1.3px;
}

.conteiner_info .drop_info {
    position: relative;
    width: 250px;
    height: 250px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
        25px 35px 20px rgba(0, 0, 0, 0.05),
        25px 30px 30px rgba(0, 0, 0, 0.05),
        inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: .05s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner_info .drop_info:nth-child(2) {
    border-radius: 57% 43% 44% 56% / 54% 72% 28% 46%;
}

.conteiner_info .drop_info:nth-child(3) {
    border-radius: 69% 31% 52% 48% / 49% 50% 50% 51%;
}

.conteiner_info .drop_info:nth-child(4) {
    border-radius: 67% 33% 58% 42% / 54% 46% 54% 46%;
}

.conteiner_info .drop_info:hover {
    border-radius: 50%;
}

.conteiner_info .drop_info::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    top: 47px;
    left: 85px;
    opacity: .9;
}

.conteiner_info .drop_info::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    top: 68px;
    left: 110px;
    opacity: .9;
}

.conteiner_info .drop_info .content_info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px;
}

.conteiner_info .drop_info .content_info h2 {
    position: relative;
    width: 80px;
    height: 80px;
    background: #eff0f4;
    border-radius: 50%;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
        inset -2px -5px 10px rgba(255, 255, 255, 1),
        15px 15px 10px rgba(0, 0, 0, 0.05),
        15px 10px 15px rgba(0, 0, 0, 0.025);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: var(--clr);
}

.conteiner_info .drop_info .content_info a {
    position: relative;
    padding: 10px 25px;
    background: var(--clr);
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    font-weight: 500;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    opacity: .75;
    transition: 0.5s;
}

.conteiner_info .drop_info .content_info a:hover {
    opacity: 1;
}

.conteiner_info .drop_info .content_info a::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 65px;
    height: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .5);
} 
--------------------bambleStyle------------
*/





/* -----------------InfoDolg----------------- */
/* -----------------What_Block----------------- */
.what_block {
    background: var(--bg-color);
    margin-top: -30px;
    border-radius: 30px 30px 0 0;
    padding-top: 16px;
    height: 90vh;
}

.what_block_header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.what_block_header h2 {
    font-size: 1.5rem;
    color: var(--main-color);
    line-height: 1.2px;
    letter-spacing: 1.3px;
}

.what_block_header ion-icon {
    font-size: 3rem;

}

.item_block {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
}

.item_dolg ion-icon {
    font-size: 1.3rem;
    color: var(--main-color);
}

.header_item_dolg {
    font-size: 1.3rem;
    color: var(--main-color);
    display: flex;
    align-items: center;
    width: 90%;
    gap: 10px;
    margin: 0 auto;
}

.item_body {
    padding: 20px;
    background: var(--bg-color);
    border: 6px solid var(--main-color);
    border-radius: 50px 50px 0 0;
}

.item_body ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

.item_body li {
    font-size: 1rem;
    letter-spacing: 1.2px;
    line-height: 1.3px;
    margin: 0;
}

.yes {
    grid-column: 1/11;
    grid-row: 1/4;
}

.no {
    grid-column: 1/11;
    grid-row: 4/7;
}

/* -----------------What_Blok----------------- */

/* -----------------FAQ----------------- */
.faq {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 50vh;
    margin-top: -30px;
    border-radius: 30px 30px 0 0;
    background: var(--bg-color);
}

.faq_header h2 {
    font-size: 1.5rem;
    line-height: 1.2px;
    letter-spacing: 1.3px;
    color: var(--main-color);

}

.faq_question {
    display: flex;
    flex-direction: column;
    padding: 16px 4px 4px;
    border-radius: 16px 16px 0 0;
    width: 80%;
    min-height: 30px;
    background: var(--main-color);
    box-shadow: 0px 2px 3px 2px var(--text-color);

}

.icon_ {
    position: relative;
    top: 6px;
    width: 50px;
    height: 50px;
}

.icon_ ion-icon {
    position: absolute;
    font-size: 3rem;
    color: var(--white-color);
    width: 20%;
    transition: .5s;
    width: 50px;

}

/* .faq_question ion-icon {
    font-size: 3rem;
    color: var(--white-color);
    width: 20%;
    transition: .5s;
} */

/* span ion-icon {
    font-size: 3rem;
    color: var(--white-color);
    width: 20%;
    transition: .5s;
} */

.rotade {
    animation: rotade 0.5s ease;
    opacity: 0;

}

.rotade_ {
    animation: rotade 0.5s ease;
    opacity: 1;

}



@keyframes rotade {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);

    }
}

.faq_question_header {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
}

.faq_question_header h3 {
    color: var(--white-color);
    font-size: 1.3rem;
    width: 80%;
}

.faq_text {
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 16px;
    transition: .5s;
    opacity: 1;
}

.hidden {
    display: none;
    /* animation: rotade 0.5s ease; */
    /* opacity: 0; */
}

.visible {
    opacity: 0;
}

/* -----------------FAQ----------------- */

@media (max-width:800px) {}